.enroll-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.h3 {
    font-weight: bold;
}

.image-card {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
}