<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Course Feedback
    </ion-title>
    <ion-buttons slot="end">
      <div *ngIf="userName === undefined">
        <ion-button (click)="login()" type="submit">Login</ion-button>
      </div>
      <div *ngIf="userName !== undefined">
        <ion-button (click)="login()" type="submit">{{userName}}</ion-button>
        <ion-button (click)="logout()" color="danger">Logout</ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Course Feedback</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id ="container">
    <strong>There are no products</strong>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of question">
      
      <ion-label>
        
        <h1>{{item.question}}</h1>
        <h2>{{item.category}}</h2>
        <p>{{item.description}}</p>
        <p>Total score is {{item.score}}</p>
  
      </ion-label>
      <!-- <ion-buttons slot="end">
        <ion-button color="primary" [routerLink]="['/add-question']">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
        </ion-buttons>  -->
    </ion-item>
  </ion-list>
</ion-content>

