<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Course Feedback
    </ion-title>
    <ion-buttons slot="end">
      <div *ngIf="userName === undefined">
        <ion-button (click)="login()" type="submit">Login</ion-button>
      </div>
      <div *ngIf="userName !== undefined">
        <ion-button type="submit" [routerLink]="['/tabs/account']">{{userName}}</ion-button>
        <ion-button (click)="logout()" color="danger">Logout</ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of feedback">
      
      <ion-label>
        
        <h1>{{item.question}}</h1>
        <h2>{{item.category}}</h2>
        <p>{{item.description}}</p>
        <!-- <p>Total score is {{item.score}}</p> -->
  
      </ion-label>
      <!-- <ion-buttons slot="end">
        <ion-button color="primary" [routerLink]="['/add-question']">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
        </ion-buttons>  -->
    </ion-item>
  </ion-list>
</ion-content>

