<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Voting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <ion-grid class="ion-grid">
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-list-header>
              Which activities are you interested in? (Select one):
            </ion-list-header>
            <ion-list>
              <ion-radio-group [(ngModel)]="selectedOption">
                <ion-item *ngFor="let item of activities" class="ion-item" [disabled]="comments !== ''">
                  <ion-label>{{ item.title }}</ion-label>
                  <ion-radio [value]="item.id"></ion-radio>
                </ion-item>
              </ion-radio-group>
  
              <label class="comment-label">Add your comment (optional)</label>
              <ion-textarea rows="4" [(ngModel)]="comments" class="comment-text"
                [disabled]="selectedOption !== ''"></ion-textarea>
  
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="reset-button" (click)="resetVote()">Reset</ion-button>
    <ion-button class="submit-button" (click)="submitVote()" [disabled]="isSubmitDisabled()">Submit</ion-button>
</ion-content>