<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Job Board
    </ion-title>
    <ion-buttons slot="end">
      <div *ngIf="userName === undefined">
        <ion-button (click)="login()" type="submit">Login</ion-button>
      </div>
      <div *ngIf="userName !== undefined">
        <ion-button (click)="login()" type="submit">{{userName}}</ion-button>
        <ion-button (click)="logout()" color="danger">Logout</ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id ="container">
    <strong>No jobs available </strong>
  </div>

  <ion-list>
        <ion-item *ngFor="let item of jobs">
            <ion-thumbnail slot="start">
              <img [src]=item.image>
            </ion-thumbnail>
          <ion-label>
            <h2>{{item.jobname}}</h2>
             <p>Salary: {{item.salary | currency}} /Annual</p>
             <p>Job Description: {{item.description}}</p>
             <ion-button color="secondary">
              Apply For Job
              </ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
