<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="userEmail === undefined">
    <ion-item>
      You are not logged in
      </ion-item>
     <ion-button expand="block"
      type="submit" (click)=login()>
      Login
     </ion-button>
     <ion-button expand="block" color="secondary" fill="clear" (click)="signup()">Or Create an Account</ion-button>
  </div>
  <div *ngIf="userEmail !== undefined">
    <ion-button expand="block" color="secondary"(click)="logout()">Logout</ion-button>
  </div>
</ion-content>
