ion-content ion-toolbar {
    --background: translucent;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.ion-card {
    border-radius: 10px;
    color: #000000;
}

.image-card {
    position: relative;
    width: 375px;
    height: 300px;
}

.card-header {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 125px;
}

.card-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.read-button {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
