<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Request for Course</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label color="medium">Submit preference for {{courseId}}?</ion-label>
    </ion-item>
    <ion-button expand="block" color="secondary">
      Submit Request
      </ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CourseRequest</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
